/openalpr-utils-benchmark
/openalpr-utils-binarizefontsheet
/openalpr-utils-calibrate
/openalpr-utils-classifychars
/openalpr-utils-prepcharsfortraining
/openalpr-utils-sortstate
/openalpr-utils-tagplates
